<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find tiago_v2_prototype_controller_configuration)/config/joint_trajectory_controllers.yaml" />
  <rosparam command="load" file="$(find tiago_v2_prototype_controller_configuration)/config/current_limit_controllers.yaml"/>

  <arg name="controller_list"
       value="torso_controller
              mobile_base_controller
	      wheels_current_limit_controller
	      arm_left_controller
	      arm_right_controller"/>

  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120 $(arg controller_list)" />

</launch>


