<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control_type" default=""/>
  <arg name="ns" default=""/>
  <arg name="local_joint_control" default="direct_position_control"/>
  <arg name="controller_pkg_name" default="tiago_v2_prototype_controller_configuration"/>
  <arg name="control_torso" default="true"/>
  <arg name="control_left" default="false"/>
  <arg name="control_right" default="false"/>
  <arg name="control_head" default="true"/>

  <!-- Decide the local joint control types -->
  <arg name="local_joint_control_left" value="$(arg local_joint_control)" if="$(arg control_left)"/>
  <arg name="local_joint_control_left" value="no_control" unless="$(arg control_left)"/>

  <arg name="local_joint_control_right" value="$(arg local_joint_control)" if="$(arg control_right)"/>
  <arg name="local_joint_control_right" value="no_control" unless="$(arg control_right)"/>

  <arg name="local_joint_control_torso" value="$(arg local_joint_control)" if="$(arg control_torso)"/>
  <arg name="local_joint_control_torso" value="no_control" unless="$(arg control_torso)"/>

  <arg name="local_joint_control_head" value="$(arg local_joint_control)" if="$(arg control_head)"/>
  <arg name="local_joint_control_head" value="no_control" unless="$(arg control_head)"/>

  <!-- Load controlled joint list configuration-->
  <!-- right arm -->
  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_2_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_3_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_4_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_5_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_6_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_right).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_right_7_joint"/>
  </include> 

  <!-- left arm -->
  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_2_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_3_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_4_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_5_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_6_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_left).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_left_7_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_head).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_head).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_2_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control_torso).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg ns)"/>
      <arg name="joint_name" value="torso_lift_joint"/>
  </include>

</launch>

