<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--arg name="laser_model"  default="sick-571"/-->

    <!-- Joint state controllers -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/joint_state_controller.launch"/>
    <!-- Default controllers -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/default_controllers.launch"/>
   
   <!-- Gripper controllers -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/gripper_controllers.launch">
      <arg name="side" value="right"/>
    </include>
    
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/gripper_controllers.launch">
      <arg name="side" value="left"/>
    </include>

    <!-- Impedance controllers loaded as stopped -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/impedance_controllers.launch"/>
</launch>

