<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--arg name="laser_model"  default="sick-571"/-->

    <!-- Joint state controllers -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/joint_state_controller.launch"/>
    <!-- Default controllers -->
    <include file="$(find tiago_v2_prototype_controller_configuration)/launch/default_controllers.launch"/>

    <rosparam command="load" file="$(find tiago_v2_prototype_controller_configuration)/config/gripper_joint_trajectory_controllers.yaml" />
    <include file="$(find pal_robotiq_controller_configuration)/launch/gripper_controller.launch">
       <arg name="model" value="robotiq-2f-85" />
    </include>

</launch>

