<?xml version="1.0"?>
<!--

  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot  xmlns:xacro="http://ros.org/wiki/xacro" name="tiago_v2_prototype">

<!-- Parameters -->
<xacro:arg name="laser_model" default="sick-571"/> <!-- false, hokuyo, sick-551, sick-561, sick-571-->

<xacro:property name="laser_model" value="$(arg laser_model)" />

<!-- Includes -->
<xacro:include filename="$(find tiago_v2_prototype_description)/gazebo/gazebo.urdf.xacro" />
<xacro:include filename="$(find omni_base_description)/urdf/base/base_sensors.urdf.xacro" />
<xacro:include filename="$(find tiago_dual_description)/urdf/torso/torso_dual.urdf.xacro" />
<xacro:include filename="$(find tiago_sea_arm_description)/urdf/arm.urdf.xacro" />

<!-- Base -->
<xacro:base_sensors name="base" front_laser_model="$(arg laser_model)" rear_laser_model="$(arg laser_model)"/>
<!-- Torso. TODO: change for custom torso -->
<xacro:tiago_dual_torso name="torso" parent="base_link" has_screen="false"/>
<!-- Arms -->
<xacro:tiago_sea_arm name="arm_left" parent="torso_lift_link" reflect="1" arm_1_offset="0" arm_2_offset="0" arm_3_offset="0" arm_4_offset="0" arm_5_offset="0" arm_6_offset="0" arm_7_offset="0">
  <origin xyz="0.13445 0.09 -0.156" rpy="1.0668 0 2.9933"/>
</xacro:tiago_sea_arm>

<xacro:tiago_sea_arm name="arm_right" parent="torso_lift_link" reflect="1" arm_1_offset="0" arm_2_offset="0" arm_3_offset="0" arm_4_offset="0" arm_5_offset="0" arm_6_offset="0" arm_7_offset="0">
  <origin xyz="0.13445 -0.09 -0.156" rpy="-1.0668 0 -2.9933"/>
</xacro:tiago_sea_arm>

</robot>
