<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<launch>
  <arg name="robot_description" default="robot_description"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="arm_x" default="0.10529" />
  <arg name="arm_y" default="0.15915" />
  <arg name="arm_z" default="-0.11927" />
  <arg name="arm_roll" default="-2.0679" />
  <arg name="arm_pitch" default="0.0" />
  <arg name="arm_yaw" default="-1.2217" />
  
  <!-- robot description -->
  <param name="$(arg robot_description)" 
         command="rosrun xacro xacro --inorder 
         '$(find tiago_v2_prototype_description)/robots/tiago_v2_prototype.urdf.xacro' 
         laser_model:=$(arg laser_model) 
         arm_x:=$(arg arm_x)
         arm_y:=$(arg arm_y)
         arm_z:=$(arg arm_z)
         arm_roll:=$(arg arm_roll)
         arm_pitch:=$(arg arm_pitch)
         arm_yaw:=$(arg arm_yaw)"/>

  <!--rosparam command="load" file="$(find tiago_v2:)/config/collision/collision_parameters.yaml" /-->
</launch>
