<?xml version="1.0" encoding="UTF-8"?>
<launch> 
  <!-- Load the pre-defined motions-->
  <rosparam file="$(find tiago_v2_prototype_bringup)/config/motions/tiago2_motions.yaml" command="load" />

  <node pkg="play_motion" type="play_motion" name="play_motion">
    <rosparam file="$(find tiago_v2_prototype_bringup)/config/approach_planner/approach_planner_common.yaml" command="load" />
  </node>

  <node pkg="play_motion" type="is_already_there.py" name="is_already_there" />
</launch>
