<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="base_type" default="omni_base"/>
  <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>

  <rosparam command="load" file="$(find tiago_v2_prototype_bringup)/config/hardware/tiago_v2_prototype_hardware.yaml"/>

  <!-- Robot model -->
  <include file="$(find tiago_v2_prototype_description)/robots/upload.launch"/>

  <!--[> Bring up robot <]-->
  <include file="$(find tiago_v2_prototype_bringup)/launch/tiago_v2_prototype_bringup.launch"/>

  <!-- Hardware specific bringup -->
  <include file="$(find tiago_v2_prototype_controller_configuration)/launch/bringup_controllers_hardware.launch" />

</launch>
