<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control" default="direct_effort_control"/>
  <arg name="controller_pkg_name" default="tiago_pro_controller_configuration"/>
  <arg name="side"/>
  <arg name="ns" value="gravity_compensation_$(arg side)"/>

  <param name="$(arg ns)/type" type="string" value="force_control/GravityCompensation" />
  <arg name="model_chains" value="['arm_$(arg side)_tool_link']"/>
  <rosparam param="$(arg ns)/robot_model_chains" subst_value="True">$(arg model_chains)</rosparam>
  <param name="$(arg ns)/dt" type="double" value="0.01" />

  <rosparam command="load" file="$(find tiago_pro_controller_configuration)/config/gravity_compensation_controller.yaml" />

  <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="torso_lift_joint"/>
  </include>
  
  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_1_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_2_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_3_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_4_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_5_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_6_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_$(arg side)_7_joint"/>
  </include>

</launch>


