<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--arg name="laser_model"  default="sick-571"/-->

    <!-- Joint state controllers -->
    <include file="$(find tiago_pro_controller_configuration)/launch/joint_state_controller.launch"/>
    <!-- Default controllers -->
    <include file="$(find tiago_pro_controller_configuration)/launch/default_controllers.launch"/>
   
    <!-- Impedance controllers loaded as stopped -->
    <include file="$(find tiago_pro_controller_configuration)/launch/impedance_controllers.launch"/>

    <!-- Load gravity compensation controller parameters -->
    <include file="$(find tiago_pro_controller_configuration)/launch/gravity_compensation_controller.launch"/>

    <!-- Load gravity compensation controller parameters per arm -->
    <include file="$(find tiago_pro_controller_configuration)/launch/gravity_compensation_controller_arm.launch">
      <arg name="side" value="left"/>
    </include>

    <include file="$(find tiago_pro_controller_configuration)/launch/gravity_compensation_controller_arm.launch">
      <arg name="side" value="right"/>
    </include>
</launch>

