<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- load wbc controller -->
  <include file="$(find tiago_pro_wbc)/launch/kinematic/tiago_pro_kinematic_wbc.launch">
      <arg name="spawn"       value="false"/>
  </include>

  <!-- load wbc controller per arm -->
  <include file="$(find tiago_pro_wbc)/launch/kinematic/tiago_pro_kinematic_wbc_arm.launch">
      <arg name="spawn"       value="false"/>
      <arg name="side"        value="left"/>
  </include>
  <include file="$(find tiago_pro_wbc)/launch/kinematic/tiago_pro_kinematic_wbc_arm.launch">
      <arg name="spawn"       value="false"/>
      <arg name="side"        value="right"/>
  </include>

</launch>
